
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Sidebar Page Container -->
<section class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-classic">

                    <!-- News Block Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image">
                                <a href="news-detail.html"><img src="images/resource/news-4.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-user"></span>By Admin</li>
                                    <li><span class="icon flaticon-chat-2"></span>3 comments</li>
                                </ul>
                                <h4><a href="news-detail.html">This Fun Site is All About Tracking Start Technologie</a></h4>
                                <div class="text">On the internet, an endless source of industry insights, news and tips are at your fingertips - but how do you know which are worth reading? Here are the top business blogevery entre preneur should stay on top of Forbes describes itself as "a leading source for reliable business news and financial information" and Forbes' Entrepreneurs section is a leading source for reliable business news and financial information for you guessed it entrepreneurs</div>
                                <a href="news-detail.html" class="theme-btn btn-style-four"><span class="txt">Read More <i class="lnr lnr-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- News Block Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image">
                                <a href="news-detail.html"><img src="images/resource/news-5.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-user"></span>By Admin</li>
                                    <li><span class="icon flaticon-chat-2"></span>3 comments</li>
                                </ul>
                                <h4><a href="news-detail.html">This Fun Site is All About Tracking Start Technologie</a></h4>
                                <div class="text">On the internet, an endless source of industry insights, news and tips are at your fingertips - but how do you know which are worth reading? Here are the top business blogevery entre preneur should stay on top of Forbes describes itself as "a leading source for reliable business news and financial information" and Forbes' Entrepreneurs section is a leading source for reliable business news and financial information for you guessed it entrepreneurs</div>
                                <a href="news-detail.html" class="theme-btn btn-style-four"><span class="txt">Read More <i class="lnr lnr-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- News Block Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image">
                                <a href="news-detail.html"><img src="images/resource/news-6.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-user"></span>By Admin</li>
                                    <li><span class="icon flaticon-chat-2"></span>3 comments</li>
                                </ul>
                                <h4><a href="news-detail.html">This Fun Site is All About Tracking Start Technologie</a></h4>
                                <div class="text">On the internet, an endless source of industry insights, news and tips are at your fingertips - but how do you know which are worth reading? Here are the top business blogevery entre preneur should stay on top of Forbes describes itself as "a leading source for reliable business news and financial information" and Forbes' Entrepreneurs section is a leading source for reliable business news and financial information for you guessed it entrepreneurs</div>
                                <a href="news-detail.html" class="theme-btn btn-style-four"><span class="txt">Read More <i class="lnr lnr-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <!-- News Block Two -->
                    <div class="news-block-two">
                        <div class="inner-box">
                            <div class="image">
                                <a href="news-detail.html"><img src="images/resource/news-7.jpg" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-user"></span>By Admin</li>
                                    <li><span class="icon flaticon-chat-2"></span>3 comments</li>
                                </ul>
                                <h4><a href="news-detail.html">This Fun Site is All About Tracking Start Technologie</a></h4>
                                <div class="text">On the internet, an endless source of industry insights, news and tips are at your fingertips - but how do you know which are worth reading? Here are the top business blogevery entre preneur should stay on top of Forbes describes itself as "a leading source for reliable business news and financial information" and Forbes' Entrepreneurs section is a leading source for reliable business news and financial information for you guessed it entrepreneurs</div>
                                <a href="news-detail.html" class="theme-btn btn-style-four"><span class="txt">Read More <i class="lnr lnr-arrow-right"></i></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">

                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="https://html.themexriver.com/nextbit/contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search Here ..." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Services Widget -->
                    <div class="sidebar-widget services-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h5>Our Services</h5>
                            </div>
                            <ul class="service-list">
                                <li><a href="#">Broadband</a></li>
                                <li><a href="#">TV & Streaming</a></li>
                                <li><a href="#">Satellite TV</a></li>
                                <li><a href="#">Home Phone</a></li>
                                <li><a href="#">Home Security</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-posts">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h5>Latest Post</h5>
                            </div>
                            <article class="post">
                                <figure class="post-thumb"><img src="images/resource/post-thumb-3.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <div class="text"><a href="news-detail.html">Everyone knows that duct tape</a></div>
                                <div class="post-info">Nov 28, 2017 <span>Yammi Guan</span></div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="images/resource/post-thumb-4.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <div class="text"><a href="news-detail.html">Everyone knows that duct tape</a></div>
                                <div class="post-info">Nov 28, 2017 <span>Yammi Guan</span></div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="images/resource/post-thumb-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <div class="text"><a href="news-detail.html">Everyone knows that duct tape</a></div>
                                <div class="post-info">Nov 28, 2017 <span>Yammi Guan</span></div>
                            </article>

                            <article class="post">
                                <figure class="post-thumb"><img src="images/resource/post-thumb-6.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <div class="text"><a href="news-detail.html">Everyone knows that duct tape</a></div>
                                <div class="post-info">Nov 28, 2017 <span>Yammi Guan</span></div>
                            </article>

                        </div>
                    </div>

                    <!-- Tags Widget -->
                    <div class="sidebar-widget popular-tags">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h5>Tags</h5>
                            </div>
                            <a href="#">Nextbit</a>
                            <a href="#">Finance</a>
                            <a href="#">Corporte</a>
                            <a href="#">Creative</a>
                            <a href="#">Design</a>
                            <a href="#">Business</a>
                            <a href="#">world</a>
                            <a href="#">Construction</a>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</section>
<!-- End Sidebar Page Container -->
